/* Général */

html {
	font-size: 62.5%;	
}

body {
    font-size: 16px;
	font-family: 'Open-Sans', sans-serif;
	margin: 0;
	line-height: 1.5;
    color: #363636;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
    background-color: #fff;
}

@font-face {
    font-family: 'Open-Sans';
    src: url(instructions/font/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Economica-regular';
    src: url(instructions/font/Economica-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
nav,
.buttons {
    font-family: 'Economica-regular';
    font-size: 20px;
}
/* header */

nav {
	float: center;
	padding: 50px 0;
    background-color: #7e4a7c;
}

nav a {
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: 10px;
	margin: 15px;
    color: #ffffff;
}

/* titres */
h1 {
    font-size: 50px;
    color: #7e4a7c;
    text-align: center;
}
h2 {
    font-size: 40px;
    color: #b878b5;
}
h3 {
    font-size: 30px;
    color: #7e4a7c; 
}
/* section */

.img-left {
    float: left;
    margin-right: 1.5em;
}

/* articles */





/* footer */

