/* Général */

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  line-height: 1.5;
  color: #363636;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

@font-face {
  font-family: "Open-Sans";
  src: url(instructions/font/OpenSans-VariableFont_wdth\wght.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Economica-regular";
  src: url(instructions/font/Economica-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav,
.buttons {
  font-family: "Economica-regular";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* header */
header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo img {
  width: 400px;
  margin: 0 auto;
  display: block;
}

.logo {
  text-align: center;
}

nav {
  float: center;
  background-color: #7e4a7c;
  text-align: center;
  padding: 20px;
}

nav a {
  font-size: 2.4rem;
  margin: 50px;
  color: #ffffff;
  text-decoration: "none";
  padding: 10px 20px;
}
/* liste */
.custom-list {
  list-style: none; /* Retire les puces par défaut */
  padding-left: 20px; /* Espace à gauche pour la flèche */
}

.custom-list li {
  background-image: url("instructions/images/puce-fleche.png");
  background-size: 16px 16px; /* Ajustez la taille de l'image */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px; /* Décale le texte pour laisser la place à l'image */
  line-height: 2;
}

/* titres */
h1 {
  font-size: 50px;
  color: #7e4a7c;
  text-align: center;
  font-family: "Economica-regular";
}
h2 {
  font-size: 40px;
  color: #b878b5;
  font-family: "Economica-regular";
}
h3 {
  font-size: 30px;
  color: #7e4a7c;
  font-family: "Economica-regular";
}
/* section */

.img-left {
  float: left;
  margin-right: 1.5em;
}

.texte-color-italique {
  color: #7e4a7c;
  font-style: italic;
}

/* articles */

.buttons {
  float: left;
  color: #ffffff;
  background-color: #7e4a7c;
  padding: 10px;
}

.parent {
  padding: 1em;
  display: flex;
}

.card {
  width: 45%;
  display: inline-block;
}

/* footer */
.footer-move-academy {
  background-color: #7e4a7c;
  padding: 1em;
  text-align: center;
  color: #fff;
}
.reseaux a {
  font-size: 3rem;
  color: #f6f8fb;
  text-decoration: none;
  padding: 2.5rem;
}

.footer-3W {
  padding: 1em;
  text-align: center;
  background-color: #444;
  color: #fff;
}

a {
  color: #dd5735;
  text-decoration: none;
}
/*tableau*/

th {
  text-align: center;
  background-color: #7e4a7c;
  color: white;
  padding: 1em;
  

}
td {
  padding: 1em; 
  text-align: center;
  border: 1px solid #7e4a7c;
  font-weight: bold;
}

.classes {
    width: 100%;
    border-collapse: collapse;
}
