/*********************** NE PAS TOUCHER *************************/

* {
  background-color: rgba(0, 255, 0, 0.1);
  border: 2px solid black;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

img {
  width: 5em;
  height: auto;
  object-fit: cover;
}

/****************************************************************/

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bases - Exercice 1</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header">
    <img src="./img/logo.jpg" alt="Logo du site" />
    <h1>Bases - Exercice 1</h1>
    <img src="./img/myaccount.png" alt="Mon compte" />
  </header>
</body>
</html>

